@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

.logo-text {
  font-family: "League Spartan", sans-serif;
  font-size: 1.15rem;
  font-weight: semibold;
}

.logo-underline {
  @apply right-0 bottom-2 absolute bg-white w-20 h-[2px] rounded-full;
}

.nav-link {
  @apply hover:text-primary-ori transition-colors duration-300 ease-in-out;
}
