@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-dark-secondary-ori text-secondary-ori dark:text-dark-secondary-ori dark:bg-white;
}

header {
  @apply bg-gradient-to-b from-[#3E1900] to-[#250F00] dark:to-white dark:from-[#fff7f1];
}

.x-rule {
  @apply border-0 bg-gradient-to-r from-transparent via-primary-ori dark:via-dark-primary-ori to-transparent w-full h-px;
}

::selection {
  @apply bg-primary-ori text-dark-primary-ori dark:bg-dark-primary-ori dark:text-white;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-ori rounded-full;
}
