@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-[#250F00] text-white;
}

header {
  @apply bg-gradient-to-b from-[#3E1900] to-[#250F00];
}

.x-rule {
  @apply border-0 bg-gradient-to-r from-transparent via-primary-ori to-transparent w-full h-px;
}

::selection {
  background-color: #FDAF7B;
  color: #3E1900;
}

/* Scrollbar Style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
